
<h3><%= "#{@pets.name} the #{@pets.species}" %></h3>
<h3>Age: <%= DateTime.now.year - @pets.year_of_birth %></h3>
<h3><%= @pets.display_good_with_kids %></h3>
<%= link_to("Back to Index Page", pets_path) %>